Sketches/Windows/Windows.Reporting/Reporting.UI/Service References/ServiceReference/Reporting.Shared.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Reporting.Shared.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Reporting.Shared.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partner" nillable="true" type="tns:Partner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartner" nillable="true" type="tns:ArrayOfPartner" />
  <xs:complexType name="Partner">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partner" nillable="true" type="tns:Partner" />
</xs:schema>