Sketches/Windows/Windows.Reporting/Reporting.UI/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Reporting.Shared.DataSources" />
  <xs:element name="GetPartnerDataSource">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerDataSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Reporting.Shared.DataSources" minOccurs="0" name="GetPartnerDataSourceResult" nillable="true" type="q1:PartnerDataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSavedReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Reporting.Shared.DataSources" minOccurs="0" name="GetSavedReportResult" nillable="true" type="q2:BaseDataSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSavedReportAsPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSavedReportAsPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateSavedReportAsPDFResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>