Sketches/Windows/Windows.Reporting/Reporting.UI/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Reporting.Shared.DataSources" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Reporting.Shared.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetPartnerDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerDataSource" />
  </wsdl:message>
  <wsdl:message name="IService_GetPartnerDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSavedReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedReport" />
  </wsdl:message>
  <wsdl:message name="IService_GetSavedReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateSavedReportAsPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSavedReportAsPDF" />
  </wsdl:message>
  <wsdl:message name="IService_GenerateSavedReportAsPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSavedReportAsPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetPartnerDataSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetPartnerDataSource" message="tns:IService_GetPartnerDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetPartnerDataSourceResponse" message="tns:IService_GetPartnerDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSavedReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSavedReport" message="tns:IService_GetSavedReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSavedReportResponse" message="tns:IService_GetSavedReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSavedReportAsPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GenerateSavedReportAsPDF" message="tns:IService_GenerateSavedReportAsPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GenerateSavedReportAsPDFResponse" message="tns:IService_GenerateSavedReportAsPDF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPartnerDataSource">
      <soap:operation soapAction="http://tempuri.org/IService/GetPartnerDataSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedReport">
      <soap:operation soapAction="http://tempuri.org/IService/GetSavedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSavedReportAsPDF">
      <soap:operation soapAction="http://tempuri.org/IService/GenerateSavedReportAsPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Reporting.Server/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>